.card {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.card__img {
  width: 83px;
  height: 83px;
}

@media (max-width: 500px) {
  .card {
    flex-direction: row;
    align-items: center;
    width: 100%;
  }
  .card__img {
    padding: 15px;
  }
}