.events {
  position: relative;
  margin-bottom: 105px;
}
.events__title {
  max-width: 820px;
  font-size: 48px;
  letter-spacing: -0.96px;
}
.events__text {
  max-width: 440px;
  width: 50%;
}

@media (max-width: 376px) {
  .events {
    margin-bottom: 72px;
  }
  .events__title {
    font-size: 32px;
    letter-spacing: -0.64px;
  }
}
@media (max-width: 577px) {
  .events__text {
    max-width: 577px;
    width: 100%;
    margin-bottom: 47px;
  }
}