@charset "UTF-8";
.welcome {
  max-width: 1900px;
  min-width: 311px;
}
.welcome__wrapper {
  position: relative;
  max-width: 928px;
  padding: 0 32px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.welcome__content {
  max-width: 420px;
  padding-top: 125px;
}
.welcome__logo {
  margin-bottom: 72px;
}
.welcome__title {
  font-size: 72px;
  letter-spacing: -1.44px;
}
.welcome__text {
  min-width: 311px;
  margin-bottom: 44px;
  line-height: 130%;
}
.welcome__price {
  padding-left: 12px;
  position: relative;
}
.welcome__price::before {
  position: absolute;
  content: "3190₽";
  width: 115px;
  height: 33px;
  top: -3px;
  left: 34px;
  padding-top: 2px;
  padding-right: 12px;
  color: #808080;
  font-size: 16px;
  text-decoration: line-through;
  text-align: end;
  vertical-align: middle;
  border-radius: 500px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.63) 0%, rgba(255, 255, 255, 0.63) 100%), radial-gradient(141.42% 141.42% at 100% 0%, #E0B8FF 0%, #B6B9FF 100%);
  z-index: -9;
}
.welcome__price::after {
  position: absolute;
  content: "";
  width: 79px;
  height: 33px;
  top: -3px;
  left: 0px;
  border-radius: 500px;
  background: radial-gradient(141.42% 141.42% at 100% 0%, #E0B8FF 0%, #B6B9FF 100%);
  z-index: -9;
}
.welcome__button {
  margin-bottom: 125px;
}
.welcome__images {
  position: relative;
  width: 45%;
}
.welcome__blur {
  position: absolute;
  width: 657.8px;
  height: 401.903px;
  top: 190px;
  left: -20px;
  border-radius: 657.8px;
  opacity: 0.5;
  background: #8241EF;
  filter: blur(100px);
  transform: rotate(-140.03deg);
  z-index: -10;
}
.welcome__img {
  position: absolute;
  width: 800px;
  height: 100%;
  top: -4%;
  left: -43%;
  background: no-repeat center/contain url("./lib/smkt_welcome.png");
  transform: rotate(-8.008deg);
  z-index: -10;
}
.welcome__img::after {
  content: "";
  position: absolute;
  width: 190px;
  height: 100%;
  top: 12.5%;
  left: 25.5%;
  background: no-repeat center/contain url("./lib/text.png");
  transform: rotate(3.699deg);
}

.background__gradient {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.22;
  background: var(--linear, linear-gradient(0deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%), linear-gradient(90deg, #FF5C4D 0%, #EB469F 25%, #8341EF 72%, #3F68F9 100%));
  z-index: -99;
}
.background__gradient::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFF 100%);
}

@media (max-width: 577px) {
  .welcome__wrapper {
    flex-direction: column;
    gap: 30px;
  }
  .welcome__title {
    font-size: 64px;
  }
  .welcome__button {
    margin-bottom: 50px;
  }
  .welcome__images {
    width: 100%;
    height: 300px;
  }
  .welcome__blur {
    display: none;
  }
  .welcome__img {
    width: 320px;
    height: 100%;
    top: -15%;
    left: calc(50% - 180px);
  }
  .welcome__img::after {
    width: 85px;
    height: 100%;
    top: 12.5%;
    left: 25.5%;
  }
}
@media (max-width: 376px) {
  .welcome__content {
    padding-top: 32px;
  }
  .welcome__logo {
    width: 112px;
    margin-bottom: 32px;
  }
  .welcome__title {
    margin-bottom: 35px;
    font-size: 36px;
    letter-spacing: -0.72px;
  }
  .welcome__text {
    margin-bottom: 0;
    font-size: 18px;
  }
  .welcome__price {
    padding-left: 7px;
  }
  .welcome__price::before {
    width: 75px;
    height: 23px;
    top: -1px;
    left: 27px;
    padding-top: 0px;
    padding-right: 5px;
    font-size: 13px;
  }
  .welcome__price::after {
    width: 56px;
    height: 23px;
    top: -1px;
  }
  .welcome__button {
    position: fixed;
    top: calc(100vh - 82px);
    left: calc(50% - 155px);
    width: calc(100% - 64px);
    z-index: 99;
  }
}