.advantages {
    max-width: 874px;
    margin-bottom: 128px;

    &__title {
        max-width: 827px;
        font-size: 56px;
        letter-spacing: -1.12px;
    }
}

@media (max-width: 376px) {
    .advantages {
        margin-bottom: 72px;
    
        &__title {
            max-width: 827px;
            font-size: 32px;
            letter-spacing: -0.64px;
        }
    }
}